@tailwind base;
.bg-image {
  @apply bg-image1;
}
.bg-image {
  filter: blur(2px);
}
.bg-image0 {
  @apply bg-image2;
}
.bg-image2 {
  filter: blur(2px);
}

.bg-image3 {
  @apply bg-image2;
}
.titulo {
  @apply text-white  text-6xl uppercase font-bold tracking-widest;
}
.preCard {
  @apply gap-1 grid grid-cols-12 grid-rows-none px-0;
}
.card {
  @apply col-span-12 md:col-span-4;
}
.cardHeader {
  @apply absolute z-10 top-1 flex-col !items-start;
}
.tituloCardHeader {
  @apply text-tiny text-white/60 uppercase font-bold mb-1;
}

.preH {
  @apply relative z-10 flex items-center justify-center h-full;
}

.bg-img {
  @apply relative  h-[85vh] w-full;
}

@tailwind components;
@tailwind utilities;
